<nav id="topnav">
   <a id="logo" class="nav-link" href="/ideas/">Idea Factory</a>
   <a id="about" class="nav-link" href="/users/new">Sign Up</a>
</nav>
<div>
    <a class="nav-link" href="/ideas/new", method: :post> <button> New Idea </button> </a>
</div>
    
